<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<display-name>ExcallService</display-name>

	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>

	<listener>
		<listener-class>com.infotrends.filter.SystemListener</listener-class>
	</listener>

	<context-param>
		<param-name>Robot_DB_Driver</param-name>
		<!-- <param-value>net.sourceforge.jtds.jdbc.Driver</param-value> -->
		<param-value>oracle.jdbc.driver.OracleDriver</param-value>
	</context-param>

	<context-param>
		<param-name>Robot_DB_URL</param-name>
		<!-- <param-value>jdbc:jtds:sqlserver://ws.crm.com.tw:1433;databaseName=FETRobot</param-value> -->
<!-- 		<param-value>jdbc:oracle:thin:@10.64.35.83:1525:ESDB</param-value> -->
		<param-value>jdbc:oracle:thin:@192.168.10.47:1521:XE</param-value>
	</context-param>

	<context-param>
		<param-name>Robot_DB_USER</param-name>
		<!-- <param-value>sa</param-value> -->
<!-- 		<param-value>irobot</param-value> -->
		<param-value>robot</param-value>
	</context-param>

	<context-param>
		<param-name>Robot_DB_PASS</param-name>
		<!-- <param-value>password</param-value> -->
<!-- 		<param-value>irobot</param-value> -->
		<param-value>robot</param-value>
	</context-param>

	<!-- 程式路徑 -->
	<context-param>
		<param-name>ProjectPath</param-name>
<!-- 		<param-value>http://localhost:8080</param-value> -->
		<!-- <param-value>http://10.64.70.46:8002</param-value> -->
<!-- 		<param-value>http://10.64.70.46:50533</param-value> -->
		<param-value>http://ws.crm.com.tw:8002</param-value>
	</context-param>


	<!-- Excall -->
	<servlet>
		<servlet-name>ExcallServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.ExcallServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ExcallServlet</servlet-name>
		<url-pattern>/excall</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ExcallClearServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.ExcallClearServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>ExcallClearServlet</servlet-name>
		<url-pattern>/excallclear</url-pattern>
	</servlet-mapping>

	<!-- main service -->
	<servlet>
		<servlet-name>noserviceServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.noserviceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>noserviceServlet</servlet-name>
		<url-pattern>/noservice</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>fetnetverifyServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.fetnetverifyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>fetnetverifyServlet</servlet-name>
		<url-pattern>/fetnetverify</url-pattern>
	</servlet-mapping>

	<!-- Profession Service -->
	<servlet>
		<servlet-name>checkphonenumServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.checkphonenumServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>checkphonenumServlet</servlet-name>
		<url-pattern>/checkphonenum</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>checkhaspwServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.checkhaspwServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>checkhaspwServlet</servlet-name>
		<url-pattern>/checkhaspw</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>checkpwServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.checkpwServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>checkpwServlet</servlet-name>
		<url-pattern>/checkpw</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>checkpaymoneyServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.checkpaymoneyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>checkpaymoneyServlet</servlet-name>
		<url-pattern>/checkpaymoney</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>checknumbertypeServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.checknumbertypeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>checknumbertypeServlet</servlet-name>
		<url-pattern>/checknumbertype</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>checkwinninginfoServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.checkwinninginfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>checkwinninginfoServlet</servlet-name>
		<url-pattern>/checkwinninginfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>entercheckServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.entercheckServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>entercheckServlet</servlet-name>
		<url-pattern>/entercheck</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dynamicVerifyServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.dynamicVerifyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dynamicVerifyServlet</servlet-name>
		<url-pattern>/dynamicverify</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>dynamicVerifyCheckServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.dynamicVerifyCheckServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>dynamicVerifyCheckServlet</servlet-name>
		<url-pattern>/dynamicverifycheck</url-pattern>
	</servlet-mapping>

<!-- 查詢門市資訊 -->
	<servlet>
		<servlet-name>storetypeServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.storetypeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>storetypeServlet</servlet-name>
		<url-pattern>/storetype</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>storecityServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.storecityServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>storecityServlet</servlet-name>
		<url-pattern>/storecity</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>storedistrictServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.storedistrictServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>storedistrictServlet</servlet-name>
		<url-pattern>/storedistrict</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>displaystoreServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.displaystoreServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>displaystoreServlet</servlet-name>
		<url-pattern>/displaystore</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>DisplayDetailInformationServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.DisplayDetailInformationServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DisplayDetailInformationServlet</servlet-name>
		<url-pattern>/displaydetailinformation</url-pattern>
	</servlet-mapping>

	<!-- Ganp GA&NP -->

	<servlet>
		<servlet-name>NewNumberOrTransferServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.NewNumberOrTransferServlet</servlet-class>
											      
	</servlet>

	<servlet-mapping>
		<servlet-name>NewNumberOrTransferServlet</servlet-name>
		<url-pattern>/newnumberortransfer</url-pattern>
	</servlet-mapping>


	<servlet>
		<servlet-name>AttentionAndInputPhoneServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.AttentionAndInputPhoneServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>AttentionAndInputPhoneServlet</servlet-name>
		<url-pattern>/attentionandinputphone</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>InputNameServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.InputNameServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InputNameServlet</servlet-name>
		<url-pattern>/inputname</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>InputTimeServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.InputTimeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InputTimeServlet</servlet-name>
		<url-pattern>/inputtime</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>InputTransferredNumberServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.InputTransferredNumberServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>InputTransferredNumberServlet</servlet-name>
		<url-pattern>/inputtransferrednumber</url-pattern>
	</servlet-mapping>

		<servlet>
		<servlet-name>DeliveryIttOrder7128Servlet</servlet-name>
		<servlet-class>com.infotrends.servlet.DeliveryIttOrder7128Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeliveryIttOrder7128Servlet</servlet-name>
		<url-pattern>/deliveryittorder7128</url-pattern>
	</servlet-mapping>
	
			<servlet>
		<servlet-name>DeliveryIttOrder7129Servlet</servlet-name>
		<servlet-class>com.infotrends.servlet.DeliveryIttOrder7129Servlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>DeliveryIttOrder7129Servlet</servlet-name>
		<url-pattern>/deliveryittorder7129</url-pattern>
	</servlet-mapping>

	<!-- query moblie price 手機價格查詢 -->

	<servlet>
		<servlet-name>querymobliepriceServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.querymobliepriceServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>querymobliepriceServlet</servlet-name>
		<url-pattern>/querymoblieprice</url-pattern>
	</servlet-mapping>
	
		<servlet>
		<servlet-name>showmoblieinfoServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.showmoblieinfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>showmoblieinfoServlet</servlet-name>
		<url-pattern>/showmoblieinfo</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>showmobliedetialinfoServlet</servlet-name>
		<servlet-class>com.infotrends.servlet.showmobliedetialinfoServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>showmobliedetialinfoServlet</servlet-name>
		<url-pattern>/showmobliedetialinfo</url-pattern>
	</servlet-mapping>

</web-app>